@model Application.Northwind.MvcWebUI.Models.ProductListViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<div>
    <table class="table table-responsive table-striped">
        <tr>
            <td>ProductName</td>
            <td>Category Id</td>
            <td>Unit Price</td>
            <td>Units In Stock</td>
        </tr>
        @foreach(var product in Model.ProductlList)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.CategoryId</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
            </tr>
        }
    </table>
</div>